h1 {
    color: red;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 20px;
    color: brown;
}

.tituloParagrafo {
    color: green;
    font-size: 30px;
}

.titParag2 {
    color: green;
    font-size: 30px;
}

#especial {
    text-align: center;
    font-size: 10px;
    color: red;
}